@font-face {
    font-family: mlbb;
    src: url(../src/font/mlbb.ttf);
}

@media only screen and (max-width: 768px) {
    .heroes-card {
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 20px;
    }
  }
  
@media only screen and (min-width: 769px) {
    .skills-container {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
}

* {
    font-family: mlbb;
}



body {
    background-color: #102538 !important;
}

.nav-link:hover {
    color: white !important;
}

.bg-navbar {
    background-color: rgb(248, 238, 39) !important;
}

.bg-gradient {
    background-image: linear-gradient(transparent, #0c2032) !important;
}

.active {
    text-decoration: underline !important;
}

.bg-fade {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.col-emblem {
    flex: 0 0 auto !important;
    width: calc(100% / 4) !important;
}

.col-item {
    flex: 0 0 auto !important;
    width: calc(100% / 7) !important;
}

.spell-img {
    width: 100px !important;
}

.span-magic {
    color: blue !important;
}

.span-physical {
    color: rgb(189, 0, 0) !important;
}

.span-hp {
    color: rgb(10, 184, 10) !important;
}

.span-hybrid {
    color: rgb(239, 0, 175) !important;
}

.span-adaptive {
    color: rgb(151, 0, 232);
}

.spinner-border {
    width: 25vh !important;
    height: 25vh !important;
}